body {
	background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.container-dark {
  color: #fff;
  background: rgba(0,0,0,0.8); padding: 2em 0
}