body {
	background-image: url('../img/bg3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.container-dark {
  color: #fff;
  background: rgba(0, 0, 0,0.3);
  padding-top: 1em;
  padding-bottom: 1em;

}

.box-height {

  min-height: 310px;

}

.clicky {
  cursor: pointer;
  color: #FFF;
}

.clicky:hover {
  color: #337ab7;
}

@font-face {
    font-family: 'Smiley-Regular';
    src:url('../assets/Smiley-Regular.ttf.woff') format('woff'),
        url('Smiley-Regular.ttf.svg#Smiley-Regular') format('svg'),
        url('Smiley-Regular.ttf.eot'),
        url('Smiley-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


.smiley-font {
   font-family: 'Smiley-Regular';
}

.grade {
  font-size: 5em;
  line-height: 1em;
  padding: 0 0.2em 0.2em 0.2em;
}

.grade-5::before {
  content: "9";
  color: #81FB92;
}
.grade-4::before {
  content: "A";
  color: #A1D674;
}
.grade-3::before {
  content: "F";
  color: #E1EA73;
}
.grade-2::before {
  content: "J";
  color: #EAAC73;
}
.grade-1::before {
  content: "L";
  color: #EA7373;
}

.container-dark h1 small {
  color: #CCC;
}