
<br><br>
<div class="container text-center">
	<h1 style="color: #FFF">Benchmark din virksomhed</h1>
	<br><br>
	<form class="form-inline">
	  <div class="input-group input-group-lg">
	    <input type="text" class="form-control" ng-model="cvrNr" id="cvrInput" placeholder="Dit CVR. nummer">
	    <span class="input-group-btn">
		  	<button type="submit" class="btn btn-primary" ng-disabled="loading" ng-click="getBenchmark()">Benchmark nu!</button>
	  	</span>
	  </div>
	</form>
</div>
<br><br>

<div ng-show="benchmark" >

	<div class="container container-dark">

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h1>Hackathon ApS</h1>
				<p style="color: #AAA">CVR: 1234</p>
				<p>Din virksomhed bliver her sammmenlignet med konkurrenter som:</p>

				  <label><input type="checkbox" checked> er inde for <span class="badge">samme branch </span></label>
				  <label><input type="checkbox" checked> i <span class="badge">sjælland </span></label>
				  <label><input type="checkbox" checked> med <span class="badge">1-5 ansatte </span></label>

				<p>På baggrund af dit <span class="badge"> 2015</span> regnskab</p>
			</div>
		</div>
	</div>


	<div class="clearfix" style="height: 2em;"></div>

	<div class="container container-dark">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Overskud</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
			<h3>Solidaritetsgrad</h3>
			</div>
			<div class="col-sm-5 col-sm-offset-1">
			<h3>Likviditetsgrad</h3>
			</div>
		</div>
		<div class="clearfix" style="height: 2em;"></div>
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
				<h3>Afkastsgrad</h3>
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<h3>Yolo</h3>
			</div>
		</div>
	</div>

</div>

	{{ benchmark }}